
body {
  margin: 0;
  
    font-family:cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
<<<<<<< HEAD
=======

>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
