
@import "~github-calendar/dist/github-calendar-responsive.css";
*{
    font-family: cursive;
}
:root{
    --bg-color:#fdfdfd;
    --text-color:#333;
    --main-color:
    #fa4a6f;
    --white-color:#fdfdfd;
    --shadow-color:rgba(0,0,0,.2)
}


/* ///////////////////////////////////////////// */
<<<<<<< HEAD
section{
    /* min-height: 100vh; */
    padding: 10rem 7% 2rem;
}
.home{
display: flex;
align-items: center;
}
=======
/* section{
   
    padding: 10rem 7% 2rem;
} */
 /* .home{
display: flex;
align-items: center;
} */
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
.home-content{
    max-width:44rem ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
<<<<<<< HEAD
}
=======
} 
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351

 .social-media a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
<<<<<<< HEAD
        width: 4rem;
        height: 4rem;
=======
        width: 5rem;
        height: 5rem;
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        box-shadow: 0 .2rem .5rem var(--shadow-color);
        font-size: 2rem;
        color: var(--main-color);
        margin: 2.5rem 1.5rem 3rem 0;
        transition: 0.5 ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
<<<<<<< HEAD
.home-img-1{
    position: relative;
    /* width: 450px;
    height: 500px;   */
    margin: auto;
    justify-content: center;
  }

  .home-img-1 img {
    margin: auto;
    justify-content: center;
    border-radius: 50%;
    width: 450px;
    height: 500px;
=======
/* .home-img-1{
    position: relative;
    margin: auto;
    justify-content: center;
  } */

  .home-img-1 img {
    /* margin: auto;
    justify-content: center;
    border-radius: 50%;
    width: 450px;
    height: 500px; */
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    animation: moveImage 2s infinite alternate;
  }

  
  @keyframes moveImage {
        0% {
          transform: translateX(0);
        }
        50% {
          transform: translateX(-50px);
        }
        100% {
          transform: translateX(0);
        }
      
  }
  

/* /////////////////////////////// */

/* .................................,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.stat{
 margin-top: 3%;
   
}


.stat-2,.stat-3{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.stat-3{
  gap:20px
}
#github-stats-card{
height: 230px;
}
#github-streak-stats{
  height: 230px;
}
#github-top-langs{
  width: 600px;
}


/* .................................,,,,,,,,,,,,,,,,,,,,,,,,,,, */
.tagName{
    font-size: 50px;
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: cursive;
    font-weight: 600;
    color: #2d2c2c;
<<<<<<< HEAD
=======
    margin: auto;
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
}

.contact-form-inner{
    width: 22%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.contact-form-inner p{
    margin-left: 10px;margin-right: 10px;
}
.contact-form-inner a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    /* margin: 2.5rem 1.5rem 3rem 0; */
    transition: 0.5 ease;
}
.contact-form-inner a:hover{
    background: var(--main-color);
    color: var(--white-color);
}
.nav-link.contact{
   
    justify-content: left;
}
#last{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #fa4a6f;
}
#last p{
  padding-top: 10px;
}
.purple {
    color:#fa4a6f
  }
  .skills-card {
<<<<<<< HEAD
    font-size: 1.5em ;
    color: white ;
    margin: 15px ;
    padding: 5px ;
=======
    font-size: 2rem ;
    color: white ;
    margin: 15px ;
    padding: 10px ;
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    opacity: 0.93 ;
    border: 1.7px solid #fa4a6f ;
    vertical-align: middle ;
    justify-content: center;
        text-align: center ;
    border-radius: 5px ;
   background-color:black;
    display: table ;
    box-shadow: 4px 5px 4px 3px #fa4a6f ;
    overflow: hidden ;
    transition: all 0.4s ease 0s ;
  }
  
  .skills-card a {
    text-decoration: none;
    color: white;
  }
  .about-skills {
    position: relative ;
    background-image: var(--main-color) ;
    color: white ;
  }

/* .................................,,,,,,,,,,,,,,,,,,,,,,,,,,, */
 @media (max-width:1200px){
<<<<<<< HEAD
    /* html{
        font-size:50%;
    } */
=======
   
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    #github-stats-card{
      height: 200px;
      }
      #github-streak-stats{
        height: 200px;
      }
      #github-top-langs{
        width: 500px;
      }
<<<<<<< HEAD
      .home-img-1 img{
        width: 1500px;
        height: 400px;
    }
=======
    
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351

}
@media (max-width:1024px){
  
    section{
        padding: 10rem 3% 2rem;
    }
    #github-stats-card{
      height: 180px;
      }
      #github-streak-stats{
        height: 180px;
      }
      #github-top-langs{
        width: 450px;
      }
  
}

@media (max-width:991px){
 
    .home .home-content{
        max-width:55rem ;
    }
  
    .tagName{
        font-size: 40px;
    }
<<<<<<< HEAD
    .home-img-1 img{
        width: 1300px;
        height: 350px;
    }
    #github-stats-card{
      height: 160px;
      }
      #github-streak-stats{
        height: 160px;
      }
      #github-top-langs{
        width: 450px;
      }
}
@media (max-width:768px){
    .home{
        display: grid;
        margin: auto;
        justify-content: center;
        align-items: center;
      
        gap:10px
    }
=======
   
    #github-stats-card{
      height: 300px;
      }
      #github-streak-stats{
        height: 300px;
      }
      #github-top-langs{
        width: 550px;
       
      }
      .social-media a{
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
  }
  .stat-3{
    display: grid;
   }
}
@media (max-width:768px){
    
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    .home-content{
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
       
<<<<<<< HEAD
    }
=======
    } 
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    .home-content p{
      margin: 10px auto;
    }
    .skills-card {
        margin: 10px ;
      }
    
    
    .skills-card:hover {
      transform: scale(1.05) ;
      overflow: hidden ;
      border: 2.2px solid #0A81AB ;
    }
  
<<<<<<< HEAD
   .home-img-1 img {
   
    margin: auto;
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    height: 350px;
    animation: moveImage 0s infinite alternate;
  }
=======
   
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    .tagName{
        font-size: 30px;
    }
   .stat-3{
    display: grid;
   }
   #github-stats-card{
<<<<<<< HEAD
    height: 200px;
    }
    #github-streak-stats{
      height: 200px;
=======
    height: 350px;
    }
    #github-streak-stats{
      height: 350px;
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    }
    #github-top-langs{
      width: 450px;
    }
<<<<<<< HEAD
}

@media (max-width:520px){
    .home,#home{
        display: grid;
        margin: auto;
        justify-content: center;
        align-items: center;
    
        gap:10px
    }
=======
    .social-media a{
      width: 7rem;
      height: 7rem;
      font-size: 5rem;
}
}

@media (max-width:520px){
   
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    .home-content{
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
       
    }
  
<<<<<<< HEAD
   .home-img-1 img {
    margin: auto;
    justify-content: center;
    border-radius: 50%;
    width: 300px;
    height: 350px;
    animation: moveImage 0s infinite alternate;
  }
=======
  
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
    .tagName{
        font-size: 30px;
    }
    .social-media a{
<<<<<<< HEAD
      width: 3rem;
      height: 3rem;
}
=======
      width: 7rem;
      height: 7rem;
      font-size: 4rem;
}
.stat-3{
  display: grid;
 }
 #github-stats-card{
  height: 350px;width: 100%;
  }
  #github-streak-stats{
    height: 350px;
  }
>>>>>>> 176c626ac5fc63c21c27f8a770851847a590e351
}

